
  <nav class="navbar navbar-expand-lg navbar-light bg-ligh "style="padding: 20px">
    <a class="navbar-brand" href="#">SloTec Store Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" id="Dashboard" href="#">Dashboard </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Products" href="Products">Products </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Admins" href="./Admins.html">Store Admins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Shoppers</a>
        </li>
      </ul>

    </div>
  </nav>
<script>
  var pathname = window.location.pathname,
    pages = ['Products', 'Admins'];

  $('.nav-item').each(function (i) {
    if (pathname.includes(pages[i])) { $(("#" + pages[i])).addClass('active'); }
    else if (this.className.includes('active')) this.removeClass('active');
  });
</script>